Library
Temp
Logs

.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2022.dwlt

.fake
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
Assembly-CSharp.csproj
