Library
Temp
Logs
.fake
*.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
UserSettings/Layouts/default-2022.dwlt
*.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
*.dwlt
.vscode/extensions.json
*.json
UserSettings/Layouts/default-2022.dwlt
UserSettings/Layouts/default-2022.dwlt
UserSettings/Layouts/default-2022.dwlt
*.dwlt
*.dwlt
.vscode/extensions.json
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
Logs/shadercompiler-UnityShaderCompiler.exe0.log
.vscode/launch.json
Assets/Script/PlayerAttack.cs.meta
Assembly-CSharp.csproj
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Assembly-CSharp.csproj
Assembly-CSharp.csproj
